@charset "UTF-8";
/* CSS Document */

@import 'reset.css';
@import 'nav.css';
@import 'icons.css';
@import 'input.css';
@import 'footer.css';
@import 'buttons.css';

html,body{
    font-family: 'arial', sans-serif;
    font-size: 12px;
    font-weight: 100;
    background-color: white;
}
main {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.search-bar {
    display: flex;
    margin: 0 auto;
}
.main-content > *:not(.search-bar, .info-check) {
    margin-top: 30px;
}
a.info-check {
    color: #2114ad;
    display: block;
    text-align: center;
    padding: 30px 0px 30px 0px;
    margin-bottom: 32px;
}
.lang p{
    display: inline;
}